.flowers__child{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.flower__ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 65px;
}