.total{
    display: block;
    height: 312px;
    margin-top: 70px;
    padding-top: 8px;
    font-weight: 700;
    font-size: 18px;
    box-shadow: var(--box-shadow-card);
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    margin-right: 8em;
}
.card__price{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-medium);
    margin-bottom: 20px;
    padding-top: 14px;
}
.card__count{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
}
.card__dost{
    margin-bottom: 5px;
    font-size: 16px;
}
.card__dost__choose{
    color: var(--color-main);
    text-decoration: underline;
    cursor: pointer;
}
.card__dost__choose:hover{
    color: var(--color-yarche-main);
    
    
}
.card__button{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 45px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var( --color-main);
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid inherit;
}
.card__button:active{
    transform: translate(0px, 3px);
}
.card__button:hover{
    color: var(--color-main);
    background-color: white;
    border: 1px solid var(--color-main);
    
}
@media screen and (max-width: 1120px) {
    .total{
        height: 332px;
        margin-top: 20px;
        margin-right: 0px;
    }
}