.footer{
 background-color: var(--color-main);
 margin-top: 200px;
}
.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    color: white;
    font-weight: 700;
    align-items: center;
}
.links a:not(:last-child){
    margin-right: 20px;
}
.img{
    margin-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.logo__img{
    width: 60px;
    height: 60px;
  
}