.products{
    position: fixed;
    top: 10px;
    right: 50px;
    background-color:  rgba(230, 230, 230, 0.8);
    border-radius: 50%;
    width: 80px;
    height: 80px;

}
.products_raspolo{
    display: flex;
    margin: 11px 19px;
    text-align: center;
}
.paket_icon{
    position: relative;
    width: 40px;
    height: 40px;
    
}
.link{
    margin: 0;
    
}
.products_none{
    
    position: fixed;
    top: 10px;
    right: 50px;
    
    border-radius: 50%;
    width: 80px;
    height: 80px;
    
}
.totalPrice{
    position: absolute;
    right: 100px;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #292929;
    margin: 0;
}
.totalPrice::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    border-left-color: #292929;
}
.p{
    margin: 10px 0 10px;
}
@media screen and (max-width: 750px) {
    .products{
        
        width: 60px;
        height: 60px;
    
    }
    .products_raspolo{
        margin: 8px 13px;
        text-align: center;
    
    }
    
    .paket_icon{
    
        width: 34px;
        height: 34px;
        
    }
}