.pay{
    max-width: 1160px;
    font-size: var(--font-family-main);
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
}
.pay_h{
    font-size: var(--font-size-big);
    font-weight: 700;
    margin: 25px 0 25px 0;

}
.pay_p{
font-size: var(--font-family-small);
font-weight: 300;
line-height: 1.55;
margin: 25px 0 25px 0;
}